@charset "UTF-8";

/* Reset e Variáveis */
:root {
    --cor-primaria: #8b0000;
    --cor-secundaria: #ff6347;
    --cor-fundo: rgba(255, 248, 240, 0.9);
    --sombra: 0 4px 6px rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    color: #333;
    background: url('../imagens/274226f0-b401-4106-85bd-98816b221b2c.webp') no-repeat center center fixed;
    background-size: cover;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}